/* ส่วนนี้คือ CSS */
/* ใช้สำหรับแต่ง (id class) */
@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/kanit-Regular.ttf');
    /*./ คือการใส่ path */
}

body {
    font-family: 'Kanit';
    /* background-color: #FF9999;
    font-size: 14; */
}


.container {
    width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ec8282;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.header-from {
    width: 100px;
}

.flex {
    display: flex;
}

.from-input {
    margin-bottom: 10px;
}

input.from,
textarea {
    border: 2px solid #e37676;
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    border: 2px solid #e37676;
    width: 50%;
    height: 40px;
    background-color: #fffbfb;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fffbfb;
    display: none;
}

.message.success {
    background-color: green;
    display: block;
}

.message.danger {
    background-color: rgb(231, 48, 48);
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .header {
        font-size: 24px;
    }
    .button { /* เปลี่ยนขนาดปุ่มเฉพาะตอนหน้าจอขนาดเล็ก */
        width: 100%;
    }
}

.table-user {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(145, 33, 33);
    border-radius: 10px;
}

.table-user thead > tr {
    background-color: rgb(145, 33, 33);
    color: white;
}

tr:hover {
    background-color: rgb(195, 103, 53);
    color: white;
}

.btn-delete {
    background-color: #f8f7f7;
    color: rgb(12, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(145, 33, 33);
    margin-bottom: 3px;
}

.btn-edit {
    background-color: #f7f7f8;
    color: rgb(12, 0, 0);
    border: 2px solid rgb(23, 51, 176);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn-edit:hover {
    background-color: rgb(44, 76, 201);
    color: white;
}

.btn-delete:hover {
    background-color: rgb(103, 7, 33);
    color: white;
}

/* CSS */
.btn-manage, .btn-register {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  /* display: flex; */
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  /* padding: 12px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* vertical-align: middle;
  justify-content: center; */
}

.btn-manage:hover, .btn-register:hover {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  transform: scale(1.2);
}

.btn-manage:active,
.btn-register:active {
  opacity: .5; 
  transform: scale(1.5);
}

.ptext {
    text-align: center;
}

.btn-center {
    margin-top: 20px;
    text-align: center;
}